@keyframes warn {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

@keyframes warn1 {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.0;
    }
}

/*包裹整个floatWindow的div样式*/
.root-point{
    display: none;
    position:absolute;
    left:0;
    top:0;

}
/*动画界面*/
.loading-spinner {
    position: absolute;
    width: 150px;
    text-align: center;
}

.loading-spinner > div {
    width: 10px;
    height: 10px;
    background-color: #ff542d;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.loading-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


/*显示关闭按钮的div*/
.menu-close{
    position:absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #c20702;
    text-align: center;
    line-height: 20px;
    font-weight: lighter;
    color:white;
    padding:2px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(188, 7, 2, 0.2), 0 2px 4px 0 rgba(188, 7, 2, 0.19);
}
/*显示图表按钮的div*/
.menu-chart{
    position:absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #c20702;
    text-align: center;
    line-height: 20px;
    font-weight: lighter;
    padding:2px;
    color:white;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(188, 7, 2, 0.2), 0 2px 4px 0 rgba(188, 7, 2, 0.19);
}

.icon-location{

    width:20px;
    height:20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: lighter;
    padding:2px;
    color:white;
    margin-top: 2px;
    font-size: 15px;
    float:left;
    padding-right: 1px;
}

.fw-latLng{
    float:left;
    color:white;
    font-size: 13px;

}
/*显示数据内容的div*/
.content-div{
    position:absolute;
    width: 185px;
    background-color: rgba(0,0,0,0.4);
    cursor: move;
    color:white;
    font-size: 13px;
    padding:5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}
/*不允许选中*/
.unSelectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
/*牵引线样式*/
.info-line{
    position:absolute;
    width:0;
    height:45px;
    border-right: dashed 3px rgba(0,0,0,0.5);
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */

}
/*设置分割线的样式*/
.separation-line{
    border-bottom: solid 1px white;
    height: 0;
    width:165px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
/* 保持大小不变的小圆点 */
.dot {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 104px;
    top: 104px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #ff542d;
    border-radius: 50%;
    background-color: #ff542d; /* 实心圆 ，如果没有这个就是一个小圆圈 */
    z-index: 2;
}
/* 产生动画（向外扩散变大）的圆圈 第一个圆 */
.pulse-inner {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 90px;
    top: 90px;
    border: 1px solid #ff1c0c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 2s ease-out;
    -moz-animation: warn 2s ease-out;
    animation: warn 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 30px #ff1c0c; /* 阴影效果 */
}
/* 产生动画（向外扩散变大）的圆圈 第二个圆 */
.pulse-outer {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 90px;
    top: 90px;
    border: 1px solid #ff1c0c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn1 2s ease-out;
    -moz-animation: warn1 2s ease-out;
    animation: warn1 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 30px #ff1c0c; /* 阴影效果 */
}